*{
    margin: 0;
    padding: 0;
}

#Tela-Cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 3rem;
  }

#SecTop{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

#SecTopBTN{
    display: flex;
    gap: 1rem;
}

/*TABELA*/

#Table-Usuario{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 92%;
  height: 50vh;
  background-color: #ffffff6a;
  margin-bottom: 2rem;
  border-radius: 5px 5px;
  position: relative;
}

/*TABELA-hud*/

#HudUsuario{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  height: 2rem;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}

#HudUsuario ul {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    gap: 2.4rem;
    margin-left: 3rem;
    width: 100%;
}

#HudIdU {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 2.9rem;
}

#HudNomeU {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 7.4rem;
}

#Conteudo-Usuario-Container{
  overflow: auto;
  height: 49vh;
  position: relative;
}

#Table-Usuario-Interno{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2rem;
  width: auto;
  position: relative;
}

#Table-Usuario1{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#Table-Usuario2{
  display: none;
}


.Todo-List-Users{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 12px;
  width: 96%;
  padding-left: 3rem;
  gap: 2rem;
  position: relative;
}

.hidden {
  display: none;
}

.id-tdListU{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 2.8rem;
}

.nome-tdListU{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 8.2rem;
}

/*BTN*/

#li-td-btn-users{
  margin-left:auto;
}

.BTNs-tdList-Users{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2rem;
  gap: 0.5rem;
}


  /*FORMULARIOS*/
  /*CADASTRO*/
  #Form-Cadastro{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff6a;
    border-radius: 5px;
    width: 65rem;
    height: 37rem;
  }
  
  #Conteudo-Cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3rem;
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
    height: 100%;
    width: 23rem;
    gap: 1rem;
  }

  #BtnsTopCadastro{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -1rem;
  }

  #BtnsTopCadastro h1{
    font-size: 30px;
    margin-left: 1rem;
  }

  #BtnsTopCadastro span {
    width: 8rem;
    cursor: pointer;
    display: none;
    flex-direction: row;
    justify-content: center;
    
  }

  #BtnPF{
    border-bottom: 2px solid cornflowerblue;
    border-right: 2px solid cornflowerblue;
    color: cornflowerblue;

  }

  #BtnPJ{
    border-bottom: 1px solid;
  }

  .Single-input{
    width: 15rem;
    margin: 10px 0;
    position: relative;
  }

  .Single-input label{
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: rgb(150, 150, 150);
    cursor: text;
    transition: 0.5s ease-in-out;
  }
  
  .inputCadastro{
    width: 100%;
    padding: 5px;
    color: rgb(150, 150, 150) ;
    border: 0;
    border-bottom: 2px solid rgb(200, 200, 200);
    outline: 0;
    font-size:  16px;
  }

  .inputCadastro:focus,
  .inputCadastro:valid{
    border-bottom: 2px solid cornflowerblue;
  }

  .inputCadastro:focus ~ label,
  .inputCadastro:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: cornflowerblue;
  }

  #labelSit{

  }

  #DivCadastroBTN{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -1rem;
  }

  #cadastroBTN{
    width: 17rem;
    border-radius: 15px;
  }

/*IMG*/

  #IMG-cadastro{
    margin-left: 8rem;
  }
  

  /*DATA*/
  #Form-Data{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff6a;
    border-radius: 5px;
    width: 65rem;
    height: 37rem;
  }

  #Conteudo-Data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3rem;
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
    height: 100%;
    width: 23rem;
    gap: 2rem;
  }

  #Titulo-DataForm h1{
    font-size: 1.8rem;
    margin-top: -2rem;
  }

  #Infos-Data{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .Campo-Data{
    width: 15rem;
  }

  .Label-Data{
    font-size: 1.1rem;
  }

  /*IMG*/

  #IMG-Data{
    margin-left: 8rem;
  }

  /*FORM PERMIÇÕES*/

  #Form-Permi{
    display: none;
  }