*{
    margin: 0;
    padding: 0;
}

#Tela-Cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  
  #Form-Cadastro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff6a;
    border-radius: 5px;
    width: 65rem;
    height: 37rem;
  }
  
  #Conteudo-Cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3rem;
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
    height: 100%;
    width: 23rem;
    gap: 1rem;
  }

  #BtnsTopCadastro{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -1rem;
  }

  #BtnsTopCadastro h1{
    font-size: 30px;
    margin-left: 1rem;
  }

  #BtnsTopCadastro span {
    width: 8rem;
    cursor: pointer;
    display: none;
    flex-direction: row;
    justify-content: center;
    
  }

  #BtnPF{
    border-bottom: 2px solid cornflowerblue;
    border-right: 2px solid cornflowerblue;
    color: cornflowerblue;

  }

  #BtnPJ{
    border-bottom: 1px solid;
  }

  .Single-input{
    width: 15rem;
    margin: 10px 0;
    position: relative;
  }

  .Single-input label{
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: rgb(150, 150, 150);
    cursor: text;
    transition: 0.5s ease-in-out;
  }
  
  .inputCadastro{
    width: 100%;
    padding: 5px;
    color: rgb(150, 150, 150) ;
    border: 0;
    border-bottom: 2px solid rgb(200, 200, 200);
    outline: 0;
    font-size:  16px;
  }

  .inputCadastro:focus,
  .inputCadastro:valid{
    border-bottom: 2px solid cornflowerblue;
  }

  .inputCadastro:focus ~ label,
  .inputCadastro:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: cornflowerblue;
  }

  #labelSit{

  }

  #DivCadastroBTN{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -1rem;
  }

  #cadastroBTN{
    width: 17rem;
    border-radius: 15px;
  }

/*IMG*/

  #IMG-cadastro{
    margin-left: 8rem;
  }
  