*{

}

#TelaMunicipio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#SecTop{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

#SecTopBTN{
    display: flex;
    gap: 1rem;
}

/*FORMULARIO*/

#FormAdd{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80rem;
    height: 13rem;
    background-color: #ffffff6a;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 5%;
}

#FormCampos{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.LabelForm{
    display: flex;
    flex-direction: column;
}

#FormAdd fieldset {
    border: none;
}

#DivSit{
    display: flex;
    flex-direction: row;
}

.InputForm{
    border: none;
    border-radius: 2px;
    height: 1.5rem;
}

#InputPais{
    width: 13rem;
}

#InputMunicipio{
    width: 13rem;
}

#InputUf{
    width: 5rem;
}

#InputDDD{
    width: 5rem;
}

#BtnFormAdd{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}