#Tela-PFCadaastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#SecTop-PF{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

#BTNsTopPF{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/*Filtro Form*/

#Form-FilterPF{
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: #ffffff6a;
    width: 80rem;
    min-width: 85%;
    max-width: 85%;
    height: 13rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-top: 5%;
    border-radius: 5px;
}

#DivFiltroPF{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#secInputsFiltro{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#secInputsFiltro fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

#secInputsFiltro label {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    font-size: 0.9rem;
}

#secInputsFiltro input {
    border: none;
    border-radius: 2px;
    height: 1.5rem;
}

#OpSituacaoPF{
    width: 8rem;
    height: 1.6rem;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

#OpGeneroFiltro{
    width: 8rem;
    height: 1.6rem;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

#BTNsFiltroPF{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/*Area de hud das Informações*/ 

#InfoAreaPF{
    display: none;
    flex-direction: row;
    align-items: center;
    height: 43rem;
    width: 80rem;
}

/*realacionadas a lista de contatos*/

#inforAreaPF2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 65rem;
}

#ContatoListPF{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 62rem;
    height: 15rem;
    background-color: #ffffff6a;
    border-radius: 5px 5px;
    gap: 8px;
}

#HudContatoPF{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(0, 0, 0);
    height: 2rem;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

#HudContatoPF ul {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    color: #ffffff;
}

#HudContatoPF li {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#hudTipo{
    width: 10rem;
}

#hudEndere{
    width: 19rem;
}

#hudDescri{
    width: 28rem;
}

#addhud{
    cursor: pointer;
}

#Table-PFcontato{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#Table-PFcontato p {
    margin-left: 2rem;
}

.ListContatos{
    display: flex;
    flex-direction: row;
}

.dtipoContatos{
    width: 10.1rem;
    margin-left: 1.7rem;
    width: 10.1rem;
}

.endereContatos{
    width: 19rem;
}

.descriContatos{
    width: 27rem;
}

.divContatosBTNs{
    display: flex;
    flex-direction: row;
}

/*FORM ADD CONTATOS*/

#Form-AddContatos{
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff6a;
    width: 60rem;
    height: 15rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
    border-radius: 5px;
}


#Form-AddContatos fieldset{
    display: flex;
    flex-direction: column;
    border: none;
}

#DivContatosAdd{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

#secInputsContatos{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#secInputsContatos input {
    border: none;
    border-radius: 2px;
    height: 1.5rem;
}

#OpTipoPF{
    width: 8rem;
    height: 1.6rem;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

#FieldContatosEndere{
    width: 15rem;
}

#FieldContatosDescri{
    width: 15rem;
}

#BTNsContatosPF{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 13rem;
}

/*Dados Pessoais Form*/

#Form-DadosPessoais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff6a;
    width: 60rem;
    height: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
    border-radius: 5px;
}

/*LISTA DE NACIONALIDADE*/

#DivListNaci{
    margin-top: 50px;
    width: 15rem;
    height: 5.2rem;
    background-color: #ffffff;
    position: absolute;
    border-radius: 3px;
    display: none;
    overflow: auto;
}

#ListaNaci{
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 3px;
}

#DivListNaci::-webkit-scrollbar{
    display: none;
}

.ListaNaciLI{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    height: 1.8rem;
    width: 15rem;
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: context-menu;
}

.ListaNaciLI:hover {
    background-color: #dbdbdb;
}

/*---------------------------------------------*/

#CamposFormPF-DP{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

#CamposFormPF-DP input{
    border: none;
    border-radius: 2px;
    height: 1.5rem;
}

.FieldDadosPessoais{
    display: flex;
    flex-direction: column;
    border: none;
}

#CamposNomePF-DP{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

.nomesPF-DP{
    width: 20rem;
}

#CamposOutrosPF-DP{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.outrosPF-DP{
    width: 15rem;
}

#CamposMenoresPF-DP{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.menoresPF-DP{
    width: 10rem;
}

#OpCivilPF{
    width: 8rem;
    height: 1.6rem;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

#DataInputPF-DP{
    width: 8rem;
    height: 1.6rem;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

#OpGeneroPF{
    width: 8rem;
    height: 1.6rem;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.CheckPF-DP{
    display: flex;
    flex-direction: column;
    border: none;
    
}

.CheckPF-DP div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    gap: 7px;
}

#BTNsDadosPessoais{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
}

/*FORM FICHA*/

#FormFicha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff6a;
    width: 60rem;
    height: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
    border-radius: 5px;
}

/*LISTA PRINCIPAL*/

#ContedeuListPF{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 92%;
  height: 50vh;
  background-color: #ffffff6a;
  margin-bottom: 2rem;
  border-radius: 5px 5px;
  position: relative;
}

#HudConteudoPF{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(0, 0, 0);
    height: 2rem;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

#HudConteudoPF ul {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    gap: 6rem;
    margin-left: 3rem;
    width: 100%;
}

#HudConteudoPF ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#liNomeReserva{
    margin-left: 8rem;
}

#Table-PF{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    width: auto;
    position: relative;
}

#Table-PF1{
    display: block;
    width: 100%;
}

#Table-PF2{
    display: none;
    flex-direction: column-reverse;
}

.Todo-List-PF{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
    width: 96%;
    padding-left: 3rem;
    gap: 2rem;
    position: relative;
}

.id-tdListPF{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 2.2rem;
    padding-right: 2.8rem;
}

.NC-tdListPF{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 19.3rem;
}

.NR-tdListPF{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 19rem;
}

/*form ficha*/

.outrosPF-ficha{
    width: 20rem;
}

.menoresPF-Ficha{
    width: 10rem;
}

#CamposMenoresPF-Ficha{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/*IMG PF*/

#AreaImgPF{
    height: 20rem;
    width: 15rem;
    background-color: #ffffff6a;
    border-radius: 6px;
    margin-top: -19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="file"]{
    display: none;
}

#LabelUpload {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffff;
    padding: 15px 17px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    letter-spacing: 1.5px;
}