
#Container-Confirm{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    color: black;
    width: 25rem;
    height: 6rem;
    gap: 0.5rem;
    border-radius: 5px;
    padding-bottom: 5px;
    left: 35%;
    right: 35%;
    top: 35%;
    z-index: 10;
}

#Container-ConfirmBTNs{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.BTNs-ContainerConfirm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 4rem;
    border: none;
    cursor: pointer;
}

#Btn-Confirm-True{
    background-color: #51c151;
}

#Btn-Confirm-True:hover{
    background-color: #90f590;
}

#Btn-Confirm-false{
    background-color: #ed3232;
}

#Btn-Confirm-false:hover{
    background-color: #ff5f5f;
}