@keyframes enter {
    0% {
        margin-right: 0%;
    }
    
    100% {
        margin-right: 2%;
    }
}



.msg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(254, 80, 61);
    width: 26rem;
    height: 4rem;
    border-radius: 4px;
    padding-inline: 1rem;
    margin-left: 65%;
    top: 5%;
    z-index: 1;
    position: absolute;
    animation: enter 1s forwards;
}

.escondido {
    display: none;
}

.msg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
}

#icon {
    height: 25px;
}

.xmark {
    cursor: pointer;
}
