#Aux {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #161622;
    color: white;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 110px;
    gap: .5rem;
    cursor: pointer;
}

#Aux span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

#Aux span:hover {
    background-color: #293846;
    border-left: 2px solid #fff;
}