#UserArea{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15%;
    height: 70vh;
    width: 70%;
    gap: 1rem;
}
/*controler*/
#Controler{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 14rem;
    background-color: #ffffff6a;
    border-radius: 8px;
}

#Controler ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#Controler li {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.BtnControler:hover{
    background-color: #ffffffab;
}

#Container-dados{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #ffffff6a;
    border-radius: 8px;
}

#Container-edit{
    display: none;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #ffffff6a;
    border-radius: 8px;
}

#Container-permisoes{
    display: none;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #ffffff6a;
    border-radius: 8px;
}