:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0%;
  padding: 0%;
  list-style: none;
}

::-webkit-scrollbar {
  width: 1vh;
  height: 1vh;
}
::-webkit-scrollbar-track {
  background: #333;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #646cff, #8d53f2 );
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*Estyle-LOGIN*/

#Tela-Login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 45rem;
}

#Form-Login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff6a;
  border-radius: 5px;
  width: 60rem;
  height: 28rem;
}

#Conteudo-Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0 5px 5px 0;
  height: 100%;
  width: 20rem;
}

#img-Login{
  margin-left: 4rem;
}

#Conteudo-Form2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

#H1Login{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.InputLogin{
  border-radius: 10px;
  border: double;
  border-color: #cccccc;
  width: 12rem;
  height: 1.2rem;
  margin-top: -0.5rem;
}

#DivBTN-Login {
  display: flex;
  flex-direction: row;
  gap: 1.5rem ;
  margin-top: 2rem;
}

.LoginBTN{
  border-radius: 25px;
}

#LOGINBTN {
  width: 6rem;
  background: #8d53f2;
  color: #ffffff;
}


/*Style CADASTRO*/
/*Style HOME */
/*style componentes*/
/*navBar*/
/*Menu*/
/*////////PAIS////////*/

#direction-pais{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

#Tela-Pais{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 3rem;
  margin-top: 2rem;
}

#Titulo-Pais{
  width: 90%;
}

#divBTN-ADD{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  min-width: 90%;
  max-width: 90%;
}

#Form-Pais-ADD {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: #ffffff6a;
  width: 80rem;
  min-width: 90%;
  max-width: 90%;
  height: 13rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  margin-top: 5%;
  border-radius: 5px;
}

#Form-Pais-ADD2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#FormPais {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

#BTNS-Form-Pais{
  display: flex;
  gap: 1rem;
}

#BTNS-Form-Pais-Filtro{
  display: none;
  gap: 1rem;
}

.Fieldset-Pais-Form{
  display: flex;
  flex-direction: column;
  border: none;
}

/*INPUTS FORM PAIS*/

.InputsFormPais{
  border: none;
  border-radius: 2px;
  height: 1.5rem;
}

#InputSigla{
  width: 2.5rem;
}

#Div-Form-Pais-Conteudo{
  
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 92%;
  height: 50vh;
  background-color: #ffffff6a;
  margin-bottom: 2rem;
  border-radius: 5px 5px;
  position: relative;
}

#Conteudo-Pais-Container{
  overflow: auto;
  height: 49vh;
  position: relative;
}

#InputSituação-Pais{
  width: 15px;
  height: 15px;
}

#inputDDI{
  width: 5rem;
}

#DivSit{
  display:flex;
  flex-direction: row;
  align-items:center ;
  margin-top: 2px;
  gap: 3px;
}

#OpSituacao{
  width: 8rem;
  height: 1.6rem;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  margin-left: -3rem;
}

#OpSituacao option:focus,
#OpSituacao option:hover  {
  background-color: #e0e0e0;
    color: #555;
}

/*HUD*/

#HudPais{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  height: 2rem;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}

#HudPais-Ul{
  display: flex;
  flex-direction: row;
  color: #ffffff;
  gap: 2.4rem;
  margin-left: 3rem;
  width: 100%;
}

#HudId{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 2.9rem;
}

#Hud-Pais{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 6rem;
}

#HudSigla{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 5rem;
}

#HudNacionalidade{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 9rem;
}

#HudSearch{
  margin-left: 38%;
}

#Table-Pais{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2rem;
  width: auto;
  position: relative;
}

.Todo-List-ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 12px;
  width: 96%;
  padding-left: 3rem;
  gap: 2rem;
  position: relative;
}

.hidden {
  display: none;
}

.id-tdList{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 2rem;
}

.pais-tdList{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 7rem;
}

.sigla-tdList{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 5rem;
}

.Naci-tdlist{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 9rem;
}

/*BTN*/

.li-td-btn{
  margin-left:auto;
}

.BTNs-tdList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2rem;
  gap: 0.5rem;
}

.BTNtd-Pais{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1rem;
  cursor: pointer;
}

/*LISTA DO FILTRO*/

#table-pais1{
  display: block;
  width: 100%;
}

#table-pais2{
  display: none;
  width: 100%;
  flex-direction: column;
}

.Bacen-tdlist{
  display: flex;
}

.red-list {
  color: red;
}

/*MODAL PAIS*/

.ModalPais{
  position: fixed;
  display: flex;
  bottom: 20%;
  flex-direction: column;
  width: 45vh;
  height: 60vh;
  border-radius: 8px;
  z-index: 1;
  background-color: #ffffff;
  padding: 1.5rem;
}

.ModalTop{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 25%;
  border-bottom: 1px solid;
}

.ModalTop span {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: baseline;
  height: 100%;
}

.ModalPais-conteudo{
  display: flex;
  flex-direction: row;
  gap: 8rem;
}

.ModalPais-conteudo ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}