:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0%;
  padding: 0%;
  list-style: none;
}

::-webkit-scrollbar {
  width: 1vh;
  height: 1vh;
}
::-webkit-scrollbar-track {
  background: #333;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #646cff, #8d53f2 );
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*Estyle-LOGIN*/

#Tela-Login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 45rem;
}

#Form-Login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff6a;
  border-radius: 5px;
  width: 60rem;
  height: 28rem;
}

#Conteudo-Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0 5px 5px 0;
  height: 100%;
  width: 20rem;
}

#img-Login{
  margin-left: 4rem;
}

#Conteudo-Form2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

#H1Login{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.InputLogin{
  border-radius: 10px;
  border: double;
  border-color: #cccccc;
  width: 12rem;
  height: 1.2rem;
  margin-top: -0.5rem;
}

#DivBTN-Login {
  display: flex;
  flex-direction: row;
  gap: 1.5rem ;
  margin-top: 2rem;
}

.LoginBTN{
  border-radius: 25px;
}

#LOGINBTN {
  width: 6rem;
  background: #8d53f2;
  color: #ffffff;
}


/*Style CADASTRO*/

#Tela-Cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 45rem;
}

#Form-Cadastro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff6a;
  border-radius: 5px;
  width: 60rem;
  height: 28rem;
}

#Conteudo-Cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0 5px 5px 0;
  height: 100%;
  width: 20rem;
  gap: 1rem;
}

.inputCadastro{
  border-radius: 10px;
  border: double;
  border-color: #cccccc;
  width: 12rem;
  height: 1.2rem;
  margin-top: -0.5rem;
}

#IMG-cadastro{
  margin-left: 8rem;
}

#cadastroBTN{
  width: 7rem;
  border-radius: 25px;
}

/*Style HOME */

#Tela-Home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Conteudo-Home{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  gap: 5rem;
}

#Div-Conteudo-Home{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

#H1-Conteudo-Home{
  font-size: 2rem;
  color: #ffffffae;
}

#H2-Conteudo-Home{
  color: #ffffffae;
}

.h2Home{
  font-size: 3rem;
}

#H3-Conteudo-Home{
  padding: 8px;
  background-color: #ffffff6a;
  border-radius: 10px;
  
}

/*style componentes*/
/*navBar*/
#nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff6a;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 4rem;
}

#Titulo-Container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -3rem;
}

#H1-Nav{
  font-size: 2rem;
}

#NavList{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.LiNav{
  cursor: pointer;
}


/*Menu*/

#Menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 27rem;
  color: #ffffff;
  background-color: #1a1a1a;
  gap: 4rem;
  box-shadow: 20px 25px 6px rgba(0, 0, 0, 0.2);
}

#Container-H1Menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1rem;
  margin-left: 2.5rem;
}

#H1Menu{
  font-size: 1.7rem;
}

#MenuList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.LiMenu{
  font-size: 1rem;
  cursor: pointer;
}



/*////////PAIS////////*/

#Tela-Pais{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#divBTN-ADD{
  display: flex;
  justify-content: flex-end;
  min-width: 90%;
  max-width: 90%;
}

#Form-Pais-ADD {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: #ffffff6a;
  width: 80rem;
  min-width: 90%;
  max-width: 90%;
  height: 13rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  border-radius: 5px;
}

#Form-Pais-ADD2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#FormPais {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

#BTNS-Form-Pais{
  display: flex;
  gap: 1rem;
}


.Fieldset-Pais-Form{
  display: flex;
  flex-direction: column;
  border: none;
}

/*INPUTS FORM PAIS*/

.InputsFormPais{
  border: none;
  border-radius: 2px;
  height: 1.5rem;
}

#InputSigla{
  width: 2.5rem;
}

#Div-Form-Pais-Conteudo{
  
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 92%;
  height: 50vh;
  background-color: #ffffff6a;
  margin-bottom: 2rem;
  border-radius: 5px 5px;
}

#Conteudo-Pais-Container{
  overflow: auto;
  height: 49vh;
}

#InputSituação-Pais{
  width: 15px;
  height: 15px;
}


#HudPais{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  height: 2rem;
  border-radius: 5px 5px 0px 0px;
}

#HudPais-Ul{
  display: flex;
  flex-direction: row;
  color: #ffffff;
  gap: 3rem;
  margin-left: 3rem;
  width: 100%;
}

#HudId{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
}

#Hud-Pais{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
}

#HudSigla{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
}

#HudNacionalidade{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
}

#HudSearch{
  margin-left: 38%;
}

#Table-Pais{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2rem;
  margin-left: 3rem;
}

.Todo-List-ul{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 3rem;
}

.hidden {
  display: none;
}

.id-tdList{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
}

.pais-tdList{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
}

.sigla-tdList{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
}

.Naci-tdlist{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
}

/*BTN*/

.li-td-btn{
  margin-left: 50%;
}

.BTNs-tdList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.BTNtd-Pais{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 1.5rem;
}

/*MODAL PAIS*/

.ModalPais{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 45vh;
  height: 60vh;
  border-radius: 8px;
  z-index: 1;
  background-color: #cccccc;
}

.ModalTop{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 25%;
}

.ModalTop span {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: baseline;
  height: 100%;
}